nav {
    padding: 3rem;
    font-size: 2rem;
    display: flex;
    align-items: center;

    .nav-right {
        margin-left: auto;
    }
}

.logo {
    display: flex;
    align-items: center;

    h2 {
        font-size: 3rem;
    }
    span {
        color: var(--yello);
        font-size: 3rem;
        margin-left: 10px;
        font-weight: bold;
    }
}